@import '../Styles/Common.scss';

.Feeds {
  width: 614px;

  /* indivisual feed */
  .feed-container {
    width: 614px;
    background: white;
    border: 1px solid $border-line-gray;
    border-radius: 4px;
    margin-bottom: 70px;

    .feed__header {
      height: 60px;
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;

      .feed__user-info-box {
        @include flex-center;

        .feed__user-profile {
          width: 32px;
          height: 32px;
          background: #000;
          border-radius: 50%;
          margin-right: 16px;
        }

        .feed__user-status-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          a {
            @include user-link;
            margin-bottom: 2px;
          }

          p {
            @include a-decoration-reset;
            font-size: $font-size-extrasmall;
            font-weight: 200;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.4px;
            color: #2d2d2d;
          }
        }
      }

      .feed__more-button {
        width: 14px;
        height: 14px;
      }
    }
  }

  /* Feed Posts */
  .feed__posts {
    width: 100%;
    height: 614px;
    background: #f3f3f3;
  }

  .feed-content {
    .feed__icons-container {
      width: 100%;
      height: 40px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .feed__icon-box-left img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }

      .feed__icon-bookmark {
        width: 24px;
        height: 24px;
      }
    }

    .feed__likes-container {
      display: flex;
      padding: 0 16px;
      align-items: center;
      font-weight: $font-weight-medium;
      font-size: $font-size-regular;
      margin-bottom: 10px;

      img {
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 50%;
        margin-right: 6px;
      }

      div {
        a {
          @include user-link;
        }
      }
    }

    /* feed article */
    .feed__article-container {
      font-size: $font-size-regular;
      font-weight: $font-weight-medium;
      line-height: 22px;
      padding: 0 16px;
      margin-bottom: 6px;
      display: flex;

      a {
        @include user-link;
        margin-right: 3px;
        position: relative;
        top: -7px;

        &.open {
          top: -1px;
        }
      }

      p {
        width: 400px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.open {
          display: inline;
          text-overflow: '';
          overflow: visible;
          white-space: normal;
        }
      }

      .show-article  {
          display: inline;
          cursor: pointer;
          color: #999;
          font-weight: $font-weight-medium;
          margin-left: 5px;
          position: relative;
          top: -7px;

          &.open {
            margin-left: 7px;
            top: 0px;
          }
      }

    }
  }
}
