@import '../../../../../styles/Common.scss';

.Comment {
  @include list-style-reset;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-regular);
  margin: 2px 0;
  &:nth-last-of-type(1),
  &:nth-last-of-type(2) {display: flex;}

  div {
    display: flex;
    align-items: flex-start;
    &:hover > i {visibility: visible;}

    span {
      max-width: 540px;
      margin-top: 3px;
      font-size: $font-size-regular;
      color: $font-color-lighterblack;
      line-height: 17px;

      span {
        @include user-link;
        margin-right: 4px;
      }
    }

    i {
      visibility: hidden;
      font-size: $font-size-extrasmall;
      color: #bababa;
      margin: 5px 0 0 8px;
      cursor: pointer;
    }
  }

  .fa-heart {
    color: #777;
    font-size: $font-size-small;
    margin-top: 3px;
    cursor: pointer;
    &.fas {
      color: #c6152f;
      font-size: $font-size-small;
      margin-top: 3px;
      cursor: pointer;
    }
  }
}


