@import '../../../../styles/Common.scss';

/* main-right aside */
.Aside {
  width: 293px;
  position: absolute;
  top: 0;
  right: 0;

  .asideInner {
    width: 100%;
    max-width: 293px;
    position: fixed;

    .myAccount {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .myProfile {
        @include flex-center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 1px solid #ddd;

        img {
          width: 56px;
          height: 56px;
          background: #000;
          border-radius: 50%;
        }
      }

      .myInfo {
        margin-right: 56px;

        span {
          @include user-link;
          margin-bottom: 3px;
        }

        p{
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
          color: $font-color-gray;
        }
      }

      button {
        @include a-decoration-reset;
        color: $font-color-blue;
        font-size: $font-size-extrasmall;
        font-weight: $font-weight-bold;
        cursor: pointer;
      }
    }

    /* ========= */
    .suggestionsContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      .suggestionsTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0 10px 0;

        p {
          color: $font-color-gray;
          font-weight: $font-weight-bold;
          font-size: $font-size-regular;
        }

        button {
          @include a-decoration-reset;
          font-weight: $font-weight-bold;
          font-size: $font-size-extrasmall;
        }
      }

      ul {
        @include list-style-reset;
        display: flex;
        flex-direction: column;
      }
    }

    /* footer */
    footer {
      color: $font-color-lightgray;
      font-size: $font-size-extrasmall;
      line-height: 20px;
      margin-bottom: 14px;
    }
  }
}

@media (max-width: 1000px) {
  .Aside {display: none;}
}
