@import '../Styles/Common.scss';

/* main-right aside */
.Aside {
  width: 293px;
  position: absolute;
  top: 0;
  right: 0;

  .main-right-inner {
    width: 100%;
    max-width: 293px;
    position: fixed;

    .main-right__my-account-container {
      width: 100%;
      padding: 20px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .main-right__my-profile-container {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 1px solid #ddd;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 56px;
          height: 56px;
          background: #000;

          border-radius: 50%;
        }
      }

      .main-right__my-profile-info-box {
        margin-right: 56px;

        a {
          @include user-link;
          margin-bottom: 3px;
        }

        p{
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
          color: $font-color-gray;
        }
      }

      .main-right__switch {
        @include a-decoration-reset;
        color: $font-color-blue;
        font-size: $font-size-extrasmall;
        font-weight: $font-weight-bold;
      }
    }

    /* ========= */
    .main-right__suggestions-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      .main-right__suggestions-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0 10px 0;

        p {
          color: $font-color-gray;
          font-weight: $font-weight-bold;
          font-size: $font-size-regular;
        }

        a {
          @include a-decoration-reset;
          font-weight: $font-weight-bold;
          font-size: $font-size-extrasmall;
        }
      }

      .main-right__suggestion-list {
        @include list-style-reset;
        display: flex;
        flex-direction: column;
      }
    }

    /* footer */
    footer {
      p {
        color: $font-color-lightgray;
        font-size: $font-size-supersmall;
        line-height: 20px;
        margin-bottom: 14px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .Aside {
    display: none;
  }
}
